/**************
 * CSS RESET
 *************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/***************
 * APP STYLES
 ***************/

ul[role="list"] {
  padding-left: 0;
}

* {
  font-family: monospace;
}

fieldset {
  padding: 1rem;
}

body {
  padding: 5rem 1rem;
}
@media (min-width: 48em) {
  :root {
    font-size: max(16px, 1rem);
  }
  body {
    padding: 5rem;
  }
}

.flow > * + * {
  margin-top: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}

form > * + * {
  margin-top: 1.5rem;
}

main > p {
  max-width: 80ch;
  margin-bottom: 3rem;
}

.result {
  padding-left: 0;
}

.result > * + * {
  margin-top: 3rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -1rem;
}
.flex > * {
  margin: 1rem;
}
@media (max-width: 48em) {
  .flex {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: -1rem;
  }
}

.result--sources {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  padding-left: 0;
}

.result--sources li {
  margin: 1rem;
}

.max {
  color: red;
}

.cta {
  text-align: center;
  margin-bottom: 4rem;
}
